$primary: #438EC8;
$secondary: #1E1E37;
$highlight: #d9a21b;
$white: #FFFFFF;
$black: #000000;
$grey: #f8f9fd;
$border-grey: #999999;
$dark-medium-grey: #3b4145;
$dark-grey: #292e31;


$menu-background: $dark-grey;
$menu-color: #FFFFFF;

$hover-primary: #5EAAD6;
$hover-secondary: #6B7096;
$hover-highlight: #eee8a9;

$text-default:#54585A;
