$sans-family: OpenSansRegular,sans-serif;
$sans-light-weight: 300;
$sans-weight: 400;
$sans-bold-weight: 700;

// Font Sizes
$xxxl-font-size: 5em;
$xxl-font-size: 3em;
$xl-font-size: 1.3em;
$large-font-size: 1.1em;
$base-font-size: 18px;
$small-font-size: 0.8em;

$h1-size: 3.5em;
$h2-size: 2em;
$h3-size: 1.3em;
