$gutter: 20px;

// Header
$header-height: 70px;

// Neat Breakpoints
$x-small-screen: 400px;
$small-screen: 560px;
$medium-screen: 720px;
$large-screen: 1085px;
$massive-width: 1400px;

$max-width: 1140px;
// Containers
$header-container-width: 1165px;
$regular-container-width: 1085px;
$semi-container-width: 825px;
$small-container-width: 745px;
