.layout--opengate--background--primary {
  background-color: $primary;
}
.layout--opengate--background--secondary {
  background-color: $secondary;
}
.layout--opengate--background--grey {
  background-color: $grey;
}
